@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* ===== Light Mode ===== */
  /* Font Family's */
  --font-inter: "Inter", sans-serif;

  /* Backgrounds */
  --bg-primary: "#3C37FF";
  --bg-secondary: "#2520E3";

  /* Outlines */
  --ol-primary: "#D9DAE5";
  --ol-secondary: "#E4E4EF";
  --ol-light: "#F9F8FD";

  /* Outlines Selected One's */
  --ols-primary: "#322FB2";
  --ols-secondary: "#7874FE";
  --ols-light: "#D3CFFF";

  /* Text */
  --txt-primary: "#FFF";
  --txt-secondary: "#E6F0FF";

  /* Button */
  --btn-primary: "#3A38FD";
  --btn-secondary: "#F4F7FF";

  /* ===== Dark Mode ===== */

  --d-bg-primary: "#0A0A0A";
  --d-bg-secondary: "#262931";

  --d-btn-primary: "#3C37FF";

  --d-txt-primary: "#FFF";
  --d-txt-secondary: "#7F8394";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  width: 100%;
}
