@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* ===== Light Mode ===== */
  /* Font Family's */
  --font-inter: "Inter", sans-serif;

  /* Backgrounds */
  --bg-primary: #3c37ff;
  --bg-secondary: #2520e3;

  /* Outlines */
  --ol-primary: #d9dae5;
  --ol-secondary: #e4e4ef;
  --ol-light: #f9f8fd;

  /* Outlines Selected One's */
  --ols-primary: #322fb2;
  --ols-secondary: #7874fe;
  --ols-light: #d3cfff;

  /* Text */
  --txt-primary: #fff;
  --txt-secondary: #e6f0ff;

  /* Button */
  --btn-primary: #3a38fd;
  --btn-secondary: #f4f7ff;

  /* ===== Dark Mode ===== */

  --d-bg-primary: #0a0a0a;
  --d-bg-secondary: #262931;

  --d-btn-primary: #3c37ff;

  --d-txt-primary: #fff;
  --d-txt-secondary: #7f8394;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
